{% extends "app/base_site.html" %}
{% load static %}
{% block title %} Registros Tamu {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- CSS DataTable.net -->
<link href="{% static '/lib/DataTables-1.13.8/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
<link href="{% static '/lib/DataTables-1.13.8/css/jquery.dataTables.min.css' %}" rel="stylesheet" />

<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h1>ADMINISTRACION SKU</h1>
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- Header -->
                <div class="x_panel">
                    <div class="x_title">
                        <div class="d-flex justify-content-between">
                            <h3>Registro Actual</h3>
                            <ul class="nav navbar-right">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- DataTable CRUD -->
                    <div class="x_content">
                        <div class="container bootstrap snippets bootdey">
                            <li>{% csrf_token %}
                                <table id="datatable-sku"
                                    class="table table-striped table-bordered display text-center" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Código</th>
                                            <th>Area</th>
                                            <th>Descripción</th>
                                            <th>Humedad Objetiva</th>
                                            <th>Peso Objetivo</th>
                                            <th>Temperatura</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for registro in registros %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ registro.codigoSKU }}</td>
                                            <td>{{ registro.areaId.nombre }}</td>
                                            <td>{{ registro.descripcion }}</td>
                                            <td>{{ registro.humedad_objetiva }}</td>
                                            <td>{{ registro.peso_objetivo }}</td>
                                            <td>{{ registro.temperatura_objetiva }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </li>
                        </div>
                    </div>
                    <!-- End Switch Area -->
                </div>
                <!-- EndHeader -->
            </div>

        </div>
        <!-- Select Linea -->

    </div>
    {% endblock content %}

    {% block javascripts %}
    {{ block.super }}
    
   <!-- DataTable.Net -->
    <script src="{% static '/lib/DataTables-1.13.8/js/jquery.dataTables.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/pdfmake-0.1.53/pdfmake.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/pdfmake-0.1.53/vfs_fonts.js' %}"></script>
    <script
        src="{% static '/lib/DataTables-1.13.8/plugins/twitter-bootstrap-5.3.0/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/jszip-3.10.1/jszip.min.js' %}"></script>
    <script src="{% static '/lib/DataTables-1.13.8/plugins/buttons-2.4.2/buttons.html5.min.js' %}"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
    {% endblock javascripts %}