<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_content mt-3">
          <div id="chart-CorrienteAtmz" style="position: relative; width: 100%; height: 300px;  overflow: hidden;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_content mt-3">
          <div id="chart-TIT" style="position: relative; width: 100%; height: 300px;  overflow: hidden;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_content mt-3">
          <div id="chart-VacioAtomizador" style="position: relative; width: 100%; height: 300px;  overflow: hidden;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content mt-3">
          <div id="chart-Presiones" style="position: relative; width: 100%; height: 300px;  overflow: hidden;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content mt-3">
          <div id="chart-Flujos" style="position: relative; width: 100%; height: 300px;  overflow: hidden;"></div>
        </div>
      </div>
    </div>
  </div>