{% extends "app/base_site.html" %}
{% load static %}
{% block title %} ILP {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="{% static 'build/css/home.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col wrapper" role="main">
  <div class="page-header section-dark"
    style="background-image: url('{% static 'images/ilp_bg2.jpg' %}')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">SIRD</h1>
          <div class="fog-low">
            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
          </div>
        </div>

        <h2 class="presentation-subtitle text-center">Sistema Integral de Recopilacion de Datos</h2>
      </div>
    </div>
    <div class="moving-clouds"
      style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png'); ">

    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}