{% extends "app/base_site.html" %}
{% load static %}
{% block title %} NUEVO ANALISIS {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- Custom Theme Style 
<link href="/static/build/css/lab.css" rel="stylesheet">-->
<link href="{% static 'build/css/lab.css' %} " rel="stylesheet">
<!-- CSS DataTable.net 
<link href="{% static '/lib/DataTables-1.13.8/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />-->
<link href="{% static '/lib/DataTables-1.13.8/css/jquery.dataTables.min.css' %}" rel="stylesheet" />

<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<!-- Select2 -->
<link href="{% static '\vendors\select2\dist\css\select2.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>ANALISIS</h1>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-6">

      <!-- x_panel -->
      <div class="y_panel">
        <div class="x_title">
          <div class="d-flex justify-content-between">
            <h3>Ordenes</h3>
            <ul class="nav navbar-right">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Button de Registro -->
        <div class="x_content text-center">
          <button class="red-button" data-bs-toggle="modal" data-bs-target="#modalNewAnalisis" type="button"><i
              class="fa-solid fa-microscope pe-2"></i>Nuevo Analisis</button>
        </div>
        <div class="x_panel">
          <!-- Tabla de Ordenes -->
          <div class="x_content">
            <div class="container bootstrap snippets bootdey">
              <!-- {% csrf_token %}-->
              <div class="table-responsive">
                <table id="datatable-Orden" class="table table-striped jambo_table bulk_action" style="width:100%">

                  <thead>
                    <tr class="headings">
                      <th class="column-title">#ID Orden</th>
                      <th class="column-title">Fecha Inicio</th>
                      <th class="column-title">Fecha Fin</th>
                      <th class="column-title">Receta</th>
                      <th class="column-title">Linea</th>
                      <th class="column-title">P.Real(kg)</th>
                      <th class="column-title">Ver Detalle</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="even pointer">
                      <td class=" ">121000040</td>
                      <td class=" ">11:47:56 PM</td>
                      <td class=" ">11:47:56 PM</td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Paid</td>
                      <td class="a-right a-right ">$7.45</td>
                      <td class="a-right a-right"><button type="button" class="btn btn-success" data-bs-toggle="modal"
                          data-bs-target="#modalOrdenes"><i class="fa-solid fa-file-pen"></i></button>
                      </td>
                    </tr>
                    <tr class="even pointer">
                      <td class=" ">121000040</td>
                      <td class=" ">11:47:56 PM</td>
                      <td class=" ">11:47:56 PM</td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Paid</td>
                      <td class="a-right a-right ">$7.45</td>
                      <td class="a-right a-right"><button type="button" class="btn btn-success" data-bs-toggle="modal"
                          data-bs-target="#modalOrdenes"><i class="fa-solid fa-file-pen"></i></button>
                    </tr>
                    <tr class="odd pointer">
                      <td class=" ">121000040</td>
                      <td class=" ">11:47:56 PM</td>
                      <td class=" ">11:47:56 PM</td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Paid</td>
                      <td class="a-right a-right ">$7.45</td>
                      <td class="a-right a-right"><button type="button" class="btn btn-success" data-bs-toggle="modal"
                          data-bs-target="#modalOrdenes"><i class="fa-solid fa-file-pen"></i></button>
                    </tr>

                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="column-title">#ID Orden</th>
                      <th class="column-title">Fecha Inicio</th>
                      <th class="column-title">Fecha Fin</th>
                      <th class="column-title">Receta</th>
                      <th class="column-title">Linea</th>
                      <th class="column-title">P.Real(kg)</th>
                      <th class="column-title">Ver Detalle</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <!-- Tabla de Ordenes -->
        </div>
      </div>

      <div class="y_panel">
        <!-- Modal NewAnalisis-->
        <div class="modal fade" id="modalNewAnalisis" tabindex="-1" aria-labelledby="modalNewAnalisis"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- ModalHeader -->
              <div class="modal-header">
                <h2 class="modal-title fs-5" id="modalNewAnalisis">ESPECIFICACIONES</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- ModalBody-->
              <div class="modal-body">


                <div class="x_content text-center">
                  <form>
                    <div class="mb-3">
                      <select id="SelectOperador" class="form-control OpTurno" name="state" style="width: 100%;">
                        <!-- Aqui se carga desde Js-->
                      </select>
                    </div>

                    <div class="input-group flex-nowrap mb-3">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-user-plus"></i></span>
                      <input type="text" class="form-control p-1" placeholder="Responsable de entrega"
                        aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div class="mb-3 card">
                      <div class="card-header">
                        <dt>ANALISIS</dt>
                      </div>
                      <div class="card-body">
                        <div class="row text-start">
                          <div class="col col-md-2">
                            <div class="checkbox mb-3">
                              <label>
                                <input type="checkbox" class="flat"> Alcalinidad
                              </label>
                            </div>
                            <div class="checkbox mb-3">
                              <label>
                                <input type="checkbox" class="flat"> Cloruro
                              </label>
                            </div>
                            <div class="checkbox mb-3">
                              <label>
                                <input type="checkbox" class="flat"> Humedad
                              </label>
                            </div>
                            <div class="checkbox mb-3">
                              <label>
                                <input type="checkbox" class="flat"> Activo
                              </label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="control-group">
                              <div class="container-fluid">
                                <input id="tags_1" type="text" class="tags form-control"
                                  value="Cerrar, Cerrar, Cerrar" />
                                <div id="suggestions-container"
                                  style="position: relative; float: left; width: 250px; margin: 20px;">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="card-footer">

                      </div>
                    </div>

                  </form>

                </div>
              </div>

              <!-- ModalFooter-->
              <div class="modal-footer d-flex justify-content-center">
                <button class="button-30" role="button">Crear Orden</button>
              </div>

            </div>
          </div>
        </div>
      </div>


      <!-- Modal AnalisisDelivered-->
      <div class="modal fade" id="modalOrdenes" tabindex="-1" aria-labelledby="modalOrdenes" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- ModalHeader -->
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="modalOrdenHeader">DETALLE DE LA ORDEN</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- ModalBody-->
            <div class="modal-body">

              <div class="y_panel">
                <div class="x_content text-center">
                  <form>
                    <div class="row">
                      <div class="col">
                        <div class="segment">
                          <h1>Alcalinidad</h1>
                        </div>

                        <label>
                          <input class="text-center" type="number" placeholder="%" />
                        </label>
                      </div>
                      <div class="col">
                        <div class="segment">
                          <h1>Cloruro</h1>
                        </div>

                        <label>
                          <input class="text-center" type="number" placeholder="%" />
                        </label>
                      </div>
                      <div class="col">
                        <div class="segment">
                          <h1>Humedad</h1>
                        </div>

                        <label>
                          <input class="text-center" type="number" placeholder="%" />
                        </label>
                      </div>
                      <div class="col">
                        <div class="segment">
                          <h1>Activo</h1>
                        </div>

                        <label>
                          <input class="text-center" type="number" placeholder="%" />
                        </label>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>

            <!-- ModalFooter-->
            <div class="modal-footer">

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Select2 -->
<script src="{% static '/vendors/select2/dist/js/select2.full.min.js' %}"></script>

<!-- DataTable.Net -->
<script src="{% static '/lib/DataTables-1.13.8/js/jquery.dataTables.js' %}"></script>
<script src="{% static '/lib/DataTables-1.13.8/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/lib/DataTables-1.13.8/plugins/pdfmake-0.1.53/pdfmake.min.js' %}"></script>
<script src="{% static '/lib/DataTables-1.13.8/plugins/pdfmake-0.1.53/vfs_fonts.js' %}"></script>
<script src="{% static '/lib/DataTables-1.13.8/plugins/twitter-bootstrap-5.3.0/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/lib/DataTables-1.13.8/plugins/jszip-3.10.1/jszip.min.js' %}"></script>
<script src="{% static '/lib/DataTables-1.13.8/plugins/buttons-2.4.2/buttons.html5.min.js' %}"></script>
<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}