{% extends "app/base_site.html" %}

{% block title %} Registro de Secador L7 {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- CSS DataTable.net 
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
-->
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h1>REGISTRO DE SECADORES</h1>
            </div>
        </div>

        <div class="clearfix"></div>

        <!-- Linea7 -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- xPanel -->
                <div class="x_panel">
                    <div class="x_title">
                        <div class="d-flex justify-content-between">
                            <h3>Linea 7</h3>
                            <ul class="nav navbar-right">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="bg-primary-subtle border border-primary-subtle p-2 rounded-3 position-relative"
                        style="overflow: auto">
                        <div class="d-flex justify-content-between">
                            <!-- Contenido a la izquierda -->
                            <div>
                                <h2>Filtro por Fecha</h2>
                            </div>

                            <div class="PathFilter d-flex align-items-center">
                                <!-- Contenido a la derecha -->
                                <div id="RegistroSecadorL7" class="rounded-3 pull-left d-flex align-items-center p-2"
                                    style="background: #e3f2fd; cursor: pointer; border: 1px solid #0becfc">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar pe-2"></i>
                                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Tabla de Secadores -->
                    <div class="x_content">
                        <div class="container bootstrap snippets bootdey">
                            <li>{% csrf_token %}
                                <table id="datatable-Secadores"
                                    class="table table-striped table-bordered jambo_table display text-center"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="sum">#</th>
                                            <th>Corriente Atomizador</th>
                                            <th>Flujo Jabon</th>
                                            <th>Flujo Silicato</th>
                                            <th>%Silicato</th>
                                            <th>Presion Intercambiador</th>
                                            <th>Presion Jabon</th>
                                            <th>Presion Jabon Atomizador</th>
                                            <th>SetPoint Silicato</th>
                                            <th>TIT en 100.1</th>
                                            <th>TIT en 100.2</th>
                                            <th>TIT en 200.1</th>
                                            <th>Perfume Total</th>
                                            <th>Vacio en Atomizador</th>
                                            <th>velocidad p100.1</th>
                                            <th>velocidad p100.2</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for registro in registros %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ registro.corrienteatomizador }}</td>
                                            <td>{{ registro.flujojabon_fic200_1 }}</td>
                                            <td>{{ registro.flujosilicato_fic203_1 }}</td>
                                            <td>{{ registro.porcentajesilicato }}</td>
                                            <td>{{ registro.presion_interc3_pic200_2 }}</td>
                                            <td>{{ registro.presionjabon_pit200_1 }}</td>
                                            <td>{{ registro.presionjabonatm_pit200_3 }}</td>
                                            <td>{{ registro.sp_silicato }}</td>
                                            <td>{{ registro.tempe_inter_tit100_1 }}</td>
                                            <td>{{ registro.tempe_inter_tit100_2 }}</td>
                                            <td>{{ registro.tempe_inter_tit200_1 }}</td>
                                            <td>{{ registro.totalperfume }}</td>
                                            <td>{{ registro.vacioatz_pit200_4 }}</td>
                                            <td>{{ registro.velocidad_p100_1 }}</td>
                                            <td>{{ registro.velocidad_p100_2 }}</td>
                                            <td>{{ registro.t_stamp|date:"d/m/Y H:i:s" }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Corriente Atomizador</th>
                                            <th>Flujo Jabon</th>
                                            <th>Flujo Silicato</th>
                                            <th>%Silicato</th>
                                            <th>Presion Intercambiador</th>
                                            <th>Presion Jabon</th>
                                            <th>Presion Jabon Atomizador</th>
                                            <th>SetPoint Silicato</th>
                                            <th>TIT en 100.1</th>
                                            <th>TIT en 100.2</th>
                                            <th>TIT en 200.1</th>
                                            <th>Perfume Total</th>
                                            <th>Vacio en Atomizador</th>
                                            <th>velocidad p100.1</th>
                                            <th>velocidad p100.2</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </li>
                        </div>
                    </div>
                    <!-- End Tabla de Secadores -->
                </div>
                <!-- EndxPanel-->
            </div>
        </div>
        <!-- End Linea7 -->
    </div>
    {% endblock content %}

    {% block javascripts %}
    {{ block.super }}
    <!-- DataTable.Net -->

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/echart_apache.js"></script>
    {% endblock javascripts %}