{% extends "app/base_site.html" %}

{% block title %} TAMU {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- CSS DataTable.net 
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
-->
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h1>REGISTRO TAMU</h1>
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- Header -->
                <div class="x_panel">
                    <div class="x_title">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3>Data Filter</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <ul class="nav navbar-right">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <!-- Switch Area -->
                    <div class="x_content">
                        <div class="container bootstrap snippets bootdey">
                            <li>{% csrf_token %}
                                <table id="datatable-buttons"
                                    class="table table-striped table-bordered display text-center" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tamu</th>
                                            <th>Fecha Registro:</th>
                                            <th>Area</th>
                                            <th>Linea</th>
                                            <th>Lado</th>
                                            <th>SKU</th>
                                            <th>Peso Obtenido</th>
                                            <th>Peso Objetivo</th>
                                            <th>Humedad Obtenida</th>
                                            <th>Humedad Objetiva</th>
                                            <th>Temperatura Obtenida</th>
                                            <th>Temperatura Objetiva</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for registro in registros %}
                                        <tr>
                                            <td>{{ registro.id }}</td>
                                            <td>Mishel Rodriguez</td>
                                            <td>{{ registro.fecha_registro }}</td>
                                            <td>{{ registro.areaId.nombre }}</td>
                                            <td>{{ registro.lineaId.nombre }}</td>
                                            <td>{{ registro.seccionId.nombre }}</td>
                                            <td>{{ registro.skuID.descripcion }}</td>
                                            <td>{{ registro.peso_obtenido }}</td>
                                            <td>{{ registro.peso_objetivo }}</td>
                                            <td>{{ registro.humedad_obtenida }}</td>
                                            <td>{{ registro.humedad_objetiva }}</td>
                                            <td>{{ registro.temperatura_obtenida }}</td>
                                            <td>{{ registro.temperatura_objetiva }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Tamu</th>
                                            <th>
                                                <div id="reportrange_right" class="pull-left"
                                                    style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                    <span>December 30, 2014 - January 28, 2015</span> <b
                                                        class="caret"></b>
                                                </div>
                                            </th>
                                            <th>Area</th>
                                            <th>Linea</th>
                                            <th>Lado</th>
                                            <th>SKU</th>
                                            <th>Peso Obtenido</th>
                                            <th>Peso Objetivo</th>
                                            <th>Humedad Obtenida</th>
                                            <th>Humedad Objetiva</th>
                                            <th>Temperatura Obtenida</th>
                                            <th>Temperatura Objetiva</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </li>
                        </div>
                    </div>
                    <!-- End Switch Area -->
                </div>
                <!-- EndHeader -->
            </div>

        </div>
        <!-- Select Linea -->

    </div>
    {% endblock content %}

    {% block javascripts %}
    {{ block.super }}
    <!-- DataTable.Net -->

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
    {% endblock javascripts %}