<div class="left_col scroll-view">
  <div class="navbar nav_title text-center" style="border: 0;">
    <a href="{% url 'index' %}">
      <img class="img-circle profile_img" src="/static/images/logo_lapopular.png" alt="...">
    </a>
  </div>

  <div class="clearfix"></div>
  <div class="profile clearfix">
    <div class="profile_info">
      <p></p>
      <h2>SIRD</h2>
    </div>
  </div>


  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'index' %}">Dashboard</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-balance-scale fa-shake" style="--fa-animation-duration: 15s;"></i> Tamu <span
              class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'Tamu' %}">Nuevo Registro</a></li>
            <li><a href="{% url 'RegistrosTamu' %}">Registros</a></li>
            <li><a href="{% url 'Estadistica' %}">Estadistica</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-fire fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i> Secadores
            <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a>Secador L1<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_submenu">
                <li><a href="{% url 'DashBoardL1' %}"><i class="fa fa-dashboard"></i>DashBoard<span
                      class="fa fa-chevron-left"></span></a></li>

                <li><a href="{% url 'RegistroSecador1' %}"><i class="fa fa-folder-o"></i>Registros<span
                      class="fa fa-chevron-left"></span></a></li>

                <li><a href="{% url 'DashBoardL1' %}"><i class="fa fa-line-chart"></i>Estadistica<span
                      class="fa fa-chevron-left"></span></a>
                </li>
              </ul>
            </li>
            <li><a>Secador L6<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_submenu">
                <li><a href="{% url 'DashBoardL1' %}"><i class="fa fa-dashboard"></i>DashBoard<span
                      class="fa fa-chevron-left"></span></a></li>

                <li><a href="{% url 'RegistroSecador6' %}"><i class="fa fa-folder-o"></i>Registros<span
                      class="fa fa-chevron-left"></span></a></li>

                <li><a href="{% url 'DashBoardL1' %}"><i class="fa fa-line-chart"></i>Estadistica<span
                      class="fa fa-chevron-left"></span></a>
              </ul>
            </li>
            <li><a>Secador L7<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_submenu">
                <li><a href="{% url 'DashBoardL1' %}"><i class="fa fa-dashboard"></i>DashBoard<span
                      class="fa fa-chevron-left"></span></a></li>

                <li><a href="{% url 'RegistroSecador7' %}"><i class="fa fa-folder-o"></i>Registros<span
                      class="fa fa-chevron-left"></span></a>
                </li>

                <li><a href="{% url 'DashBoardL1' %}"><i class="fa fa-line-chart"></i>Estadistica<span
                      class="fa fa-chevron-left"></span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a><i class="fa fa-shake fa-flask" style="--fa-animation-duration: 10s;"></i> Laboratorio <span
              class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'NewAnalisis' %}">Nuevo Analisis</a></li>
            <li><a href="{% url 'ResultadoAnalisis' %}">Resultados de Analisis</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-refresh fa-spin fa-fw"></i> Mezcladores <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'Ordenes' %}">Ordenes de Adicion</a></li>
            <li><a href="{% url 'ConsumoPMP' %}">Consumo de Materia Prima</a></li>
            <li><a href="{% url 'ConsumoG' %}">Consumo General</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>