{% extends "app/base_site.html" %}
{% load static %}
{% block title %} TAMU {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="{% static '\vendors\select2\dist\css\select2.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h1>TAMU</h1>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <!-- Header -->
        <div class="x_panel">
          <div class="x_title">
            <div class="d-flex justify-content-between">
              <h3>Area</h3>
              <ul class="nav navbar-right">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- Switch Area -->
          <div class="x_content text-center">
            <div class="container bootstrap snippets bootdey">
              <li>{% csrf_token %}
                <div class="btn-group btn-toggle">
                  <button id="lavanderia" name="lavanderia" value="1"
                    class="btn btn-lg btn-primary active">LAVANDERIA</button>
                  <button id="tocador" name="tocador" value="2" class="btn btn-lg btn-default">TOCADOR</button>
                </div>
              </li>
            </div>
          </div>
          <!-- End Switch Area -->
        </div>
        <!-- EndHeader -->
      </div>

    </div>
    <!-- Select Linea -->
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!-- Header Linea -->
        <div class="x_panel">
          <div class="x_title">
            <div class="d-flex justify-content-between">
              <h3>Lineas</h3>
              <ul class="nav navbar-right">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
            </div>

            <div class="clearfix"></div>
          </div>
          <!-- Select  -->
          <div class="x_content text-center">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">LINEA</label>
                  <select id="cboLinea" class="form-select" aria-label="Default select example">
                    <!-- Aqui se carga desde Js-->
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">LADO</label>
                <select id="cboSeccion" class="form-select" aria-label="Default select example">
                  <!-- Aqui se carga desde Js-->
                </select>
              </div>
            </div>
          </div>
          <!-- End Select -->
        </div>
        <!-- EndHeaderLinea -->
      </div>
      <!-- End Select Linea -->

      <!-- Select SKU -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!-- Header Linea -->
        <div class="x_panel">
          <div class="x_title">
            <div class="d-flex justify-content-right">
              <h3>SKU</h3>
              <ul class="nav navbar-right">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
            </div>

            <div class="clearfix"></div>

          </div>
          <!-- Select SKU -->
          <div class="x_content text-center">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 pb-2 d-flex justify-content-between">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">CATEGORIA</label>
                <select id="cboSKU" class="form-control js-example-basic-single" name="state" style="width: 50%; height: 20%;">
                  <!-- Aqui se carga desde Js-->
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-12">
                 <span style="width: 100%;" id="txtDescSKU" class="badge count text-bg-secondary">DESCRIPCIÓN</span>         
              </div>
            </div>
          </div>
          <!-- End Select SKU -->
        </div>
        <!-- EndHeaderLinea -->
      </div>
    </div>
    <!-- End Select SKU -->
    <!-- Imputs de Registro -->
    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col col-sm-6 col-xs-12">

          <div class="x_panel">
            <div class="x_title">
              <div class="d-flex justify-content-between">
                <h3>Peso</h3>
                <ul class="nav navbar-right">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- Imputs  -->
            <div class="x_content text-center">
              <div class="row">
                <div class="col">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col form-group"></br>
                          <div class="count"><input id="imputPeso" type="number" class="form-control" placeholder="g">
                          </div>
                          </br>
                        </div>
                        <div class="col form-group">
                          <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                            </br>
                          </div>
                        </div>
                        </br>
                      </div>
                      <div class="row">
                        <h3>Peso</br>Obtenido</h3>
                      </div>


                    </div>

                  </div>
                </div>
                <div class="col">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col form-group text-center">
                          <div id="txtPeso" class="count">---</div>
                        </div>
                        <div class="col form-group text-center">
                          <div class="icon"><i class="fa fa-check-square-o"></i>
                      </div>
                        </div>
                      </div>
                      <div class="row">
                        <h3>Peso</br>Objetivo</h3>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EndPeso -->
        <!-- Temperatura -->
        <div class="col col-sm-6 col-xs-12">

          <div class="x_panel">
            <div class="x_title">
              <div class="d-flex justify-content-between">
                <h3>Temperatura</h3>
                <ul class="nav navbar-right">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- Imputs  -->
            <div class="x_content text-center">
              <div class="row">
                <div class="col">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col form-group"></br>
                          <div class="count"><input id="imputTemperatura" type="number" class="form-control"
                              placeholder="°C"></div>
                          </br>
                        </div>
                        <div class="col form-group">
                          <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                            </br>
                          </div>
                        </div>
                        </br>
                      </div>
                      <div class="row">
                        <h3>Temperatura</br>Obtenida</h3>
                      </div>


                    </div>

                  </div>
                </div>
                <div class="col">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col form-group text-center">
                          <div id="txtTemperatura" class="count">---</div>
                        </div>
                        <div class="col form-group">
                          <div class="icon"><i class="fa fa-check-square-o"></i>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <h3>Temperatura</br>Objetiva</h3>
                      </div>
                      
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EndTemperatura -->
        <!-- Humedad -->
        <div class="col col-sm-6 col-xs-12">

          <div class="x_panel">
            <div class="x_title">
              <div class="d-flex justify-content-between">
                <h3>Humedad</h3>
                <ul class="nav navbar-right">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- Imputs  -->
            <div class="x_content text-center">
              <div class="row">
                <div class="col">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col form-group"></br>
                          <div class="count"><input id="imputHumedad" type="number" class="form-control" placeholder="%">
                          </div>
                          </br>
                        </div>
                        <div class="col form-group">
                          <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                            </br>
                          </div>
                        </div>
                        </br>
                      </div>
                      <div class="row">
                        <h3>Humedad</br>Obtenida</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col form-group text-center">
<div id="txtHumedad" class="count">---</div>
                        </div>
                        <div class="col form-group text-center">
<div class="icon"><i class="fa fa-check-square-o"></i>
                        </div>
                      </div>
                      
                      </div>
                      <div class="row">
                        <h3>Humedad</br>Objetiva</h3>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EndHumedad -->
      <!-- Peso -->

    </div>
    <!-- Button de Registro -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content text-center">
            <button id="btnGuardarTAMU" type="submit" class="btn btn-round btn-success btn-lg">Guardar Registro</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endblock content %}

  {% block javascripts %}
  {{ block.super }}
  <!-- Select2 
  <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>-->
  <script src="{% static '/vendors/select2/dist/js/select2.full.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  {% endblock javascripts %}