{% extends "app/base_site.html" %}

{% block title %} TAMU {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h1>TAMU</h1>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <!-- Header -->
        <div class="x_panel">
          <div class="x_title">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <h3>Area</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="nav navbar-right">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
          <!-- Switch Area -->
          <div class="x_content text-center">
            <div class="container bootstrap snippets bootdey">
              <li>{% csrf_token %}
                <div class="btn-group btn-toggle">
                  <button id="lavanderia" name="lavanderia" value="1"
                    class="btn btn-lg btn-primary active">LAVANDERIA</button>
                  <button id="tocador" name="tocador" value="2" class="btn btn-lg btn-default">TOCADOR</button>
                </div>
              </li>
            </div>
          </div>
          <!-- End Switch Area -->
        </div>
        <!-- EndHeader -->
      </div>

    </div>
    <!-- Select Linea -->
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <!-- Header Linea -->
        <div class="x_panel">
          <div class="x_title">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <h3>Lineas</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="nav navbar-right">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
          <!-- Select  -->
          <div class="x_content text-center">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">LINEA</label>
                  <select id="cboLinea" class="form-control">
                    <!-- Aqui se carga desde Js-->
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">SECCION</label>
                <select id="cboSeccion" class="form-control">
                  <!-- Aqui se carga desde Js-->
                </select>
              </div>
            </div>
          </div>
          <!-- End Select -->
        </div>
        <!-- EndHeaderLinea -->
      </div>
      <!-- End Select Linea -->

      <!-- Select SKU -->
      <div class="col-md-6 col-sm-6 col-xs-6">
        <!-- Header Linea -->
        <div class="x_panel">
          <div class="x_title">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <h3>SKU</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="nav navbar-right">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
          <!-- Select SKU -->
          <div class="x_content text-center">
            <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-6">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">CATEGORIA</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-6">
                <div class="form-group">

                  <select id="cboSKU" class="form-control js-example-basic-single" name="state">
                    <!-- Aqui se carga desde Js-->
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- End Select SKU -->
        </div>
        <!-- EndHeaderLinea -->
      </div>
    </div>
    <!-- End Select SKU -->
    <!-- Imputs de Registro -->
    <div class="row mx-auto">
      <div class="container-fluid d-flex align-items-center justify-content-center mx-auto">
        <div class="col-md-4 col-sm-6 col-xs-6 mx-auto">

          <div class="x_panel">
            <div class="x_title">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h3>Peso</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <ul class="nav navbar-right">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
            <!-- Imputs  -->
            <div class="x_content text-center">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 container-fluid h-100">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col-md-7 col-sm-6  form-group"></br>
                          <div class="count"><input id="imputPeso" type="text" class="form-control"
                              placeholder="kg / g"></div>
                          </br>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group">
                          <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                            </br>
                          </div>
                        </div>
                        </br>
                      </div>
                      <div class="row">
                        <h3>Peso</br>Obtenido</h3>
                      </div>


                    </div>

                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 container-fluid h-100">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-check-square-o"></i>
                      </div>
                      <div class="count">179</div>
                      <h3>Peso</br>Objetivo</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EndPeso -->
        <!-- Temperatura -->
        <div class="col-md-4 col-sm-6 col-xs-6 mx-auto">

          <div class="x_panel">
            <div class="x_title">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 container-fluid h-100">
                  <h3>Temperatura</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <ul class="nav navbar-right">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
            <!-- Imputs  -->
            <div class="x_content text-center">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 container-fluid h-100">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col-md-7 col-sm-6  form-group"></br>
                          <div class="count"><input id="imputTemperatura" type="text" class="form-control"
                              placeholder="°C / F"></div>
                          </br>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group">
                          <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                            </br>
                          </div>
                        </div>
                        </br>
                      </div>
                      <div class="row">
                        <h3>Temperatura Obtenida</h3>
                      </div>


                    </div>

                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-check-square-o"></i>
                      </div>
                      <div class="count">139</div>
                      <h3>Temperatura Objetiva</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EndTemperatura -->
        <!-- Humedad -->
        <div class="col-md-4 col-sm-6 col-xs-6 mx-auto">

          <div class="x_panel">
            <div class="x_title">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h3>Humedad</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <ul class="nav navbar-right">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
            <!-- Imputs  -->
            <div class="x_content text-center">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 container-fluid h-100">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="row">
                        <div class="col-md-7 col-sm-6  form-group"></br>
                          <div class="count"><input id="imputHumedad" type="text" class="form-control"
                              placeholder="g / m³"></div>
                          </br>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group">
                          <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                            </br>
                          </div>
                        </div>
                        </br>
                      </div>
                      <div class="row">
                        <h3>Humedad Obtenida</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="animated flipInY">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-check-square-o"></i>
                      </div>
                      <div class="count">186</div>
                      <h3>Humedad Objetiva</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- EndHumedad -->
      </div>
      <!-- Peso -->

    </div>
    <!-- Button de Registro -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content text-center">
            <button id="btnGuardarTAMU" type="submit" class="btn btn-round btn-success btn-lg">Guardar Registro</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endblock content %}

  {% block javascripts %}
  {{ block.super }}
  {% endblock javascripts %}