<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="nav toggle justify-content-center p-0 ">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav justify-content-end">
      <li class="">
        <a href="javascript:;" class="user-profile " data-toggle="dropdown" aria-expanded="false">
          <img src="/static/images/img2.png" alt="">{{ request.user.first_name }} {{ request.user.last_name }}
        </a>
      </li>

    </ul>
  </div>
</nav>